.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  width: 700px;
  height: 640px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(115, 181, 71, 0.889);
  border-radius: 50%;
  margin-top: 50px;
}
.input-text {
  line-height: 0;
  color: rgb(93, 91, 91);
}
.title-login {
  font-size: 30px;
  color: rgb(93, 91, 91);
}
.username-container, .password-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  gap: 5px;
}
.button-container {
  margin-top: 20px;
}
.login-input, .password-input, .confirm-button {
  width: 100%;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.login-input:focus, .password-input:focus {
  border: 1px solid #6db33f;
}

.error-message {
  font-size: 5px;
  color: red;
}