.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
}

.container {
  width: 100%;
  margin: 0 8%;
  position: relative;
}

.header-inner {
  display: flex;
  align-items: center;
}

.main-logo {
  height: 48px;
  width: 27%;
  min-width: 210px;
  margin-right: 20px;
}

.icon-adaptive-menu {
  display: none;
  margin-right: 0 !important;
  cursor: pointer;
}


.nav {
  width: 70%;
  display: flex;
  justify-content: right;
  max-width: 800px;
  height: 48px;
}

.nav-link {
  font-family: Metropolis, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.container-menu {
  display: flex;
  align-items: center;
  z-index: 3;
  height: 100%;
}

.container-menu:hover .hidden-menu {
  opacity: 1;
  transition: 0.4s;
  pointer-events: auto;
  visibility: visible;
}

.hidden-menu {
  position: absolute;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0px 5px 30px 0px rgba(108, 135, 135, 0.5);
  padding: 10px 50px 10px 30px;
  top: 30px;
  left: -20px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  width: max-content;
  pointer-events: none;
}

.nav-link:hover {
  cursor: pointer;
}

.mobile-menu {
  background-color: #191e1e;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 11;
  max-width: 100%;
  overflow-y: scroll;
  animation: slideDown 0.3s ease-out;
  overflow-x: hidden;
}

.sumbol-close {
  position: relative;
  left: 95%;
  padding-right: 15px;
  cursor: pointer;
}

.sumbol-close > h1 {
  font-size: 30px;
  font-weight: 100;
  font-size: 25px;
}

.container-mobile-menu {
  width: auto;
  margin: 80px 20px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.items-container > p {
  color: white;
  opacity: 0.7;
  line-height: 1;
}

.items-container > p:hover, .title-container:hover > h1 {
  color: #6db33f;
  transition: 0.2s;
  cursor: pointer;
}

.item-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow-icon {
  height: 30px;
  cursor: pointer;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
